:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f0f0f0;
  background-color: #1a1b26;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
    text-align: center;
    font-size: 18px;
}

.header{
    text-align: center;
    padding-right: 20px;
    padding-bottom: 5px;
}

.month {
    width: 45px;
    padding-right: 248px;
    background-color: transparent;
    white-space: nowrap;
}

.month-container {
    display: grid;
    grid-template-columns: 45px 45px 45px 45px 45px 45px 45px;
    grid-template-rows: 45px 45px 45px 45px 45px 45px;
    gap: 2px;
    left: 50%;
    justify-content: center;
}

.month-names {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2px;
    left: 50%;
    justify-content: center;
}

.grid-item {
    padding: 0px;
    align-items: center;
}

.today{
    transition: none;
    border-width: 2px;
    border-color: #ff1241;
}
.today:hover{
    border-color: #ff1241;
}
.today:active{
    background-color: #ff1241;
}

.day{
    transition: none;
    border-width: 2px;
}

.has-event{
    color: #00b8ff;
    border-width: 2px;
}
.has-event:hover{
    border-color: #dddd00;
}
.has-event:active{
    background-color: #dddd00;
}

.arrow{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    transition: none;
    box-shadow: none;
    padding: 0px;
    vertical-align: middle;
}
.arrow:hover{
    color: #ea00d9;
}
.arrow:active{
    background-color: transparent;
    border-color: transparent;
}

input,
button{
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.6em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #f0f0f0;
    transition: border-color 0.25s;
    text-align: center;
}

button {
  cursor: pointer;
}
button:hover {
  border-color: #ea00d9;
}
button:active {
  border-color: #ea00d9;
  background-color: #ea00d9;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
